
/* ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ */

/* 設定 メイン ダイアログ*/

/* ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ */

#dlg-ul-sound-list {
}

#setting-dialog li label {
    font-size:80%;
    padding: 0px 10px;
    margin: 0px 10px;
    
}

#setting-dialog #countdown-li label {
    position: relative;
    top: -10px;
}

/* ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ */

/* カウントダウン ダイアログ*/

/* ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ */

#countdown-li {
    padding: 0px 10px;
    margin: 0px 10px;
}

/* */
#countdownprio-dialog ul{
  
}

#countdownprio-dialog ul li {
    font-size: 80%;
    padding: 20px 0px;

}

#countdownprio-dialog ul li label {

    padding: 0px 20px;
}
#countdownprio-dialog ul li #prio-ud-buttons{

   position: absolute;
   right: 10px;
   top: 10px;
   

#countdownprio-dialog ul li #prio-ud-buttons #prio-up-btn {
}

#countdownprio-dialog ul li #prio-ud-buttons #prio-down-btn {
}