

#splashbody {
   width:100%;
   height:100%;    
}

#splashScreen {
    z-index: -999;
    min-height: 100%;
    min-width: 320px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}

#touchme {
    position: absolute;
    font-size: 100%;
    padding: 10px;
    
    color: #FFFFFF;
}



