<!DOCTYPE HTML>
<html>
<!--
■ ライセンスについて

H4Timer
Copyright (C) torakichi4gilda | torakichi.biz@gmail.com
Dual licensed under the MIT <http://www.opensource.org/licenses/mit-license.php>
and GPL <http://www.opensource.org/licenses/gpl-license.php> licenses.
@author @torakichi4gilda

 -->
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-startup-image" href="img/splash-iOS-w320.png">
    <link rel="apple-touch-icon" href="img/touch-icon-iphone.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="img/touch-icon-ipad.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="img/touch-icon-iphone-retina.png" />
	<link rel="apple-touch-icon" sizes="144x144" href="img/touch-icon-ipad-retina.png" />
    <title>H4Timer</title>

    <link rel="stylesheet" href="css/style.css" class="cssfx">
    <link rel="stylesheet" href="css/settings.css" class="cssfx">
    <link rel="stylesheet" href="css/themes/default/jquery.mobile-1.3.2.min.css">

	<noscript>
		<meta http-equiv="refresh" content="0; URL=no-js.html" />
	</noscript>
  </head>


  <body>
  
  
   <div data-role="page" id="mainpage" style="display:none;">
      <header data-role="header" data-position="inline" data-theme="d" data-backbtn="false">
<!--
        <a href="#" id="allresetBtn" title="リセット" data-icon="refresh" data-iconpos="notext" class="fastclick"></a>
        <a href="#" id="onlydesktop" title="open small window" data-icon="plus" data-iconpos="notext" class="fastclick" style="display:none;"></a>
-->
          <h1 id="caption-text">H4Timer</h1>
              <a href="#setting-dialog" id="settingBtn" class="ui-btn-right" title="設定" data-rel="dialog" data-icon="gear" data-iconpos="notext" data-iconpos="right" class="fastclick"></a>

      </header>
      <div class="toparea">

        <div class="topbutton">
            <a href="#" id="resetBtn" class="btn btn-mini fistclick" style="display:none;">Reset</a>
      </div>

        <div id="MasterGameTime">

            <!-- 試合進行中の時間を表示する -->
            <div id="gametime-process" style="display:none;">00:00</div>

            <!-- 試合時間と開始前カウントダウン時間-->
            <div id="gametime-select">
                <div id="GameTime-caption">
                  <div>GameTime</div>
                  <div>Countdown</div>
                </div>
                <fieldset data-role="controlgroup" data-type="horizontal" data-mini="false">

                    <legend></legend>

                        <label for="select-choice-gametime">GameTime</label>
                    <select name="select-choice-gametime" id="select-choice-gametime" class="fistclick">
                        <option value="15">15:00</option>
                        <option value="30">30:00</option>
                    </select>

                      <label for="select-choice-readytime">ReadyTime</label>
                    <select name="select-choice-readytime" id="select-choice-readytime" class="fistclick">
                      <option value="1">+1</option>
                      <option value="2">+2</option>
                        <option value="3">+3</option>
                      <option value="4">+4</option>
                        <option value="5" selected="selected">+5</option>
                      <!-- etc. -->
                    </select>
                </fieldset>

            </div> <!-- #gametime-select -->
        </div>

        <div class="topbutton">
            <a href="#" id="resumeBtn" class="btn fistclick" style="display:none;">Resume</a>
            <a href="#" id="pauseBtn" class="btn fistclick" style="display:none;">Pause</a>
        </div>
    </div><!-- .toparea -->




    <div id="timer-captions">
       <div id="before-game" class="timer-caption">
         <div>種類</div>
         <div>リポップ時間</div>
         <div>初動加算時間</div>
         <div>周回加算時間</div>
       </div>
       <div id="after-game" class="timer-caption" style="display:none;">
         <div>種類</div>
         <div>次回リポップ時間</div>
         <div>残り時間</div>
         <div>周回加算時間</div>
       </div>
    </div>

    <ul id="timer-list" data-role="listview" class="ui-listview">
      <!-- WeaponListview から追加される-->
<script id="weapon_li" type="text/x-jquery-tmpl">
<li class="weapon">
  <div id="weaponIcon">
    <span id="countdown-text" style="position:absolute; left:5px; font-size:10px; ">カウントダウン</span>
    <!-- 武器アイコン -->
    <img id="iconimage" src="img/wicon_${iconname}.png">
  </div>


  <div id="before-timer" class="weapon-timer">
    <div id="remaintime-select-box">
	  <label for="select-remaintime" class="ui-hide-label"></label>
      <select name="select-remaintime" id="select-remaintime" class="fistclick" data-mini="false">
      {{each remaintimes}}
        <option value="${val}"
		  {{if iconname==0 && val==180*1000}}selected="selected"{{/if}}
		  {{if iconname==1 && val==120*1000}}selected="selected"{{/if}}
		  {{if iconname==2 && val==120*1000}}selected="selected"{{/if}}
	    >${text}</option>
        {{/each}}
      </select>
    </div>
    <div id="firstsubtime-select-box">
      <label for="select-firstsubtime" class="ui-hide-label"></label>
      <select name="select-firstsubtime" id="select-firstsubtime" class="fistclick" data-mini="false">
      {{each firstsub}}
        <option value="${this}" {{if this==5}}selected="selected"{{/if}}>+${this}</option>
      {{/each}}
      </select>
    </div>
    <div id="loopsubtime-select-box">
      <label for="select-loopsubtime" class="ui-hide-label"></label>
      <select name="select-loopsubtime" id="select-loopsubtime" class="fistclick" data-mini="true">
      {{each loopsub}}
        <option value="${this}" {{if this==1}}selected="selected"{{/if}}>+${this}</option>
      {{/each}}
      </select>
    </div>
  </div> <!-- #before-timer -->

  <div id="after-timer" class="weapon-timer" style="display:none;">
    <div id="repop-time" class="Gametime">${repop}</div>
    <div id="remain-time" class="Gametime" >${remain}</div>
    <div id="loopsub-time" class="Gametime">+1</div>
  </div>
</li>
</script>
      </ul>
      <div class="btmbutton">
          <a href="#" id="nowBtn" class="btn fistclick">
            Now<br />
            <label id="nowBtn-time"></label>
          </a>
          <a href="#" id="startBtn" class="btn fistclick">
            Start<br />
            <label id="startBtn-time"></label>
          </a>

      </div>
    </div><!-- #mainpage -->







<!-- ■■■ 設定ダイアログ ■■■ -->



    <div data-role="page" id="setting-dialog" data-close-btn="none">
      <div data-role="header" >
          <a href="#" data-role="button" data-icon="arrow-l" data-rel="back">戻る</a>
          <h1>設定</h1>
      </div>
      <div data-role="content">
        <ul data-role="listview">
          <li>
            <label for="select-soundtype">通知音のタイプ</label>
            <a id="select-soundtype" href="#sound-choice-dialog"  data-rel="dialog">
              <span id="soundtype-disp">タイプ</span>
            </a>
          </li>
          <li id="countdown-li">
            <div data-role="fieldcontain">
              <label >カウントダウン</label>
              <select name="Countdown-switch" id="select-countdown" data-role="slider">
                <option value="no">しない</option>
                <option value="yes">する</option>
              </select>

            </div>
          </li>
          <li id="settingdlg-div-li-cdprio-prio">
              <label for="ol-li-cdprio-tmpl">カウントダウンの優先順位</label>
              <a href="#countdownprio-dialog" data-rel="dialog">

                <ol id="prio-text" data-role="listview" data-inset="true"></ol>

              </a>
<script id="ol-li-cdprio-tmpl" type="text/x-jquery-tmpl">
    {{each prio}}
    <li>
        ${$index+1}.${$value}
    </li>
    {{/each}}
  </script>
          </li>
          <li>
            <button id="setting-dlg-reset">初期設定にリセット</button>
          </li>
          <li>
            <a href="#abaut-dialog" data-rel="dialog" id="show-lisence-btn">このアプリについて</a>
          </li>
        </ul>

    </div> <!-- role-> content -->
  </div> <!-- #setting-dialog -->














<!-- ■■■ 通知音声の選択ダイアログ ■■■ -->



    <div data-role="page" id="sound-choice-dialog" data-close-btn="none">
      <div data-role="header" >
          <a href="#" data-role="button" data-icon="arrow-l" data-rel="back">戻る</a>
          <h1>通知音</h1>
      </div>

      <div>
        <ul id="dlg-ul-sound-list" data-role="listview" data-split-icon="info" data-split-theme="d" data-inset="true" >
        </ul>
    <script id="soundtype-li-tmpl" type="text/x-jquery-tmpl">
            <li value="${name}" data-theme="${themeid}">
        <a href="#" class="soundtype-text" data-rel="back">
          <span class="">${text}</span>
          <span>${subtext}</span>
        </a>
        <a href="#" class="soundtype-testplay">再生</a>
            </li>

  </script>
      </div>
    </div> <!-- #sound-choice-dialog -->


<!-- ■■■ カウントダウンの優先順位 ダイアログ ■■■ -->


    <div data-role="page" id="countdownprio-dialog" data-close-btn="none">
      <div data-role="header" >
          <a href="#" data-role="button" data-icon="arrow-l" data-rel="back">戻る</a>
          <h1>カウントダウンの優先順位</h1>
      </div>
      <div id="prio-list-container">
        <ul data-role="listview" id="cd-prio-list" data-inset="true" >

        </ul>
<script id="cd-prio-li-tmpl" type="text/x-jquery-tmpl">

            <li value="${val}" data-theme="${themeid}">
          <label>${dispname}</label>
          <div id="prio-ud-buttons">
            <button value="${val}" id="prio-up-btn" data-inline="true" data-corners="false" data-icon="arrow-u" data-iconpos="notext" data-iconpos="right" data-mini="true"></button>
            <button value="${val}" id="prio-down-btn" data-inline="true" data-corners="false" data-icon="arrow-d" data-iconpos="notext" data-iconpos="right" data-mini="true"></button>
          </div>
            </li>
</script>

      </div>
    </div>
<!-- ■■■ このアプリについて ダイアログ ■■■ -->


    <div data-role="page" id="abaut-dialog" data-close-btn="none">
      <div data-role="header" >
          <a href="#" data-role="button" data-icon="arrow-l" data-rel="back">戻る</a>
          <h1>このアプリについて</h1>
      </div>
      <div data-role="content">

        <div>
          <ul data-role="listview" id="abaut-license-ul">
            <li data-icon="arrow-d" data-iconpos="right">
      <p class="ui-li-aside">MIT and GPL licenses</p>
      <h2>H4Timer</h2>

      <p>ソースコード：<a href="https://bitbucket.org/torakichi2reach/h4t" target="blank">https://bitbucket.org/torakichi2reach/h4t</a></p>
      <p>Twitter：<a href="https://twitter.com/H4TimerSupJP" target="blank">@H4TimerSupJP</a></p>
      <p id="license-prop" data-inline="true">

        <br>
        H4Timer (C) 2013 torakichi4gilda | torakichi.biz@gmail.com<br>
        Dual licensed under the MIT [http://www.opensource.org/licenses/mit-license.php]<br>
        and GPL []http://www.opensource.org/licenses/gpl-license.php] licenses.
      </p>
    </li>
          </ul>
<script id="abaut-license-li-tmpl" type="text/x-jquery-tmpl">
            <li data-role="list-divider">
              <h2>音源</h2>
            </li>
	{{each sounds}}
    <li data-icon="arrow-d" data-iconpos="right">
		<a href="#" onclick="$(this).find('#license-prop').toggle(); ">
		  <p class="ui-li-aside">${license}</p>
		  <h3>${name}</h3>

          <p  class="li-noreturn">
			{{each url}}${$value}<br>{{/each}}
	      </p>
		  <p id="license-prop" style='display:none;' data-inline="true" class="li-noreturn">
			<br>
		    {{each text}}${$value}<br>{{/each}}
		  </p>
		</a>
    </li>
    {{/each}}
            <li data-role="list-divider">
              <h2>利用ライブラリ</h2>
            </li>
    {{each lib}}
    <li data-icon="arrow-d" data-iconpos="right">
		<a href="#" onclick="$(this).find('#license-prop').toggle(); ">
		  <p class="ui-li-aside">${license}</p>
		  <h3>${name}</h3>

          <p>
			{{each url}}${$value}{{/each}}
	      </p>

		  <p id="license-prop" style="display:none;" data-inline="true">
		    {{each text}}${$value}<br>{{/each}}
		  </p>
		</a>
    </li>
    {{/each}}
</script>
        </div>
      </div>

    </div><!-- #abaut-dialog -->

    <script type="text/javascript" src="js/vendor/cssfx.min.js"></script>
    <script type="text/javascript" src="js/vendor/jquery.js"></script>
    <script type="text/javascript" src="js/vendor/jquery.mobile-1.3.2.min.js"></script>
    <script type="text/javascript" src="js/vendor/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src="js/vendor/jquery.cookie.js"></script>
    <script type="text/javascript" src="js/vendor/iOS.js"></script>
    <script type="text/javascript" src="js/vendor/soundjs-0.4.1.min.js"></script>
    <script type="text/javascript" src="js/vendor/UnitePlayer.js"></script>
    <script type="text/javascript" src="js/vendor/fastClick.min.js"></script>
    <script type="text/javascript" src="js/ktlab/Common.js"></script>
    <script type="text/javascript" src="js/ktlab/Queue.js"></script>
    <script type="text/javascript" src="js/ktlab/ChainProcess.js"></script>
    <script type="text/javascript" src="js/ktlab/CountdownTimer.js"></script>
    <script type="text/javascript" src="js/ktlab/WeaponTimer.js"></script>
    <script type="text/javascript" src="js/ktlab/WeaponListview.js"></script>
    <script type="text/javascript" src="js/ktlab/WeaponItem.js"></script>
    <script type="text/javascript" src="js/ktlab/sound.js"></script>
    <script type="text/javascript" src="js/ktlab/toast.js"></script>

    <script type="text/javascript" src="js/ktlab/Event/EventManager.js"></script>
    <script type="text/javascript" src="js/ktlab/EventImpl/AppEvent.js"></script>
    <script type="text/javascript" src="js/ktlab/EventImpl/durtyEvent.js"></script>



    <script type="text/javascript" src="js/ktlab/GameTimer.js"></script>
    <script type="text/javascript" src="js/soundBaseAPI.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/setting.js"></script>
    <script type="text/javascript" src="js/soundsetting.js"></script>
    <script type="text/javascript" src="js/countdownsetting.js"></script>
    <script type="text/javascript" src="js/AbautAppDialog.js"></script>
    <script type="text/javascript" src="js/const.js"></script>




	<script type="text/javascript">


    </script>
  </body>
</html>